body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(34, 106, 93);
}
#calculator{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(176, 176, 189);
    border-radius: 25px;
    
    
}
#display{
    display: block;
border-radius: 25px;
    display: grid;
    width: 450px;
    padding: 30px;
    font-size: 3rem;
    text-align: right;
    
    border: none;
    background-color: rgb(144, 144, 144);
    overflow: auto;
    height: 90px; 
    border: 2px solid black;
}


#keys{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    

     gap: 10px; 
     padding: 30px; 
}
button{
     width: 100px;
    height: 90px; 
     border-radius: 20px;
    border: none;
    background-color: rgb(80, 78, 78);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: gray;
}
button:active{
background-color: rgb(127, 103, 103);
}
.operator-btn{
    background-color: rgb(94, 120, 120);
    color: rgb(0, 255, 81);

}
.operator-btn:hover{
    background-color: rgb(68, 100, 100);
}
#display.operator-btn{
    color:rgb(0, 89, 28) ;
}

